
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Aqui vamos descrever sobre seus principais serviços e atividades, e também spbre seus diferenciais</h1>
              <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Botao para saber mais</a>
            </div>
          </div>
          <div class="col-lg-5 text-center my-auto">
              <div class="header-content mx-auto text-center">

                    <h1 class="">Entre em contato ! </h1>
                    <img src="http://icons.iconarchive.com/icons/dtafalonso/android-l/256/WhatsApp-icon.png" style="width: 100px">

            </div>
            <br>
            <p>OU</p>
            <ul class="list-inline text-center">
                <li>
                    <h3>
                        <i class="fas fa-phone"></i>&nbsp;(11) 2957-9333
                    </h3>
                  </li>
                  <li>
                      <h3>
                          <i class="far fa-envelope"></i>&nbsp;email@dominio.com.br 
                      </h3>
                    </li>
        
            </ul>
            <!-- <div class="device-container"> -->
              <!-- <div class="device-mockup iphone6_plus portrait white"> -->
                <!-- <div class="device"> -->
                  <!-- <div class="screen"> -->
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <!-- <img src="src/img/demo-screen-1.jpg" class="img-fluid" alt=""> -->
                  <!-- </div> -->
                  <!-- <div class="button"> -->
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  <!-- </div> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </header>

    <section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Vamos falar dos motivos que te levaram a montar seu negócio!</h2>
            <p>Não tenha vergonha exponha seus principais valores atrelados ao seu negócio!</p>
            <div class="badges">
              <!-- <a class="badge-link" href="#"><img  src="img/google-play-badge.svg" alt=""></a> -->
              <!-- <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Vamos descreves sus prinicipais serviços</h2>
          <p class="text-muted">Foque em dizer realmente os principais !</p>
          <hr>
        </div>
        <div class="row">
          <!-- <div class="col-lg-4 my-auto"> -->
            <!-- <div class="device-container"> -->
              <!-- <div class="device-mockup iphone6_plus portrait white"> -->
                <!-- <div class="device"> -->
                  <!-- <div class="screen"> -->
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <!-- <img src="img/demo-screen-1.jpg" class="img-fluid" alt=""> -->
                  <!-- </div> -->
                  <!-- <div class="button"> -->
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  <!-- </div> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </div> -->
          <!-- </div> -->
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-screen-smartphone text-primary"></i>
                    <h3>Serviço 1</h3>
                    <p class="text-muted">Vamos falar dos seus principais serviços</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-camera text-primary"></i>
                    <h3>Serviço 2</h3>
                    <p class="text-muted">Vamos falar dos seus principais serviços</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-present text-primary"></i>
                    <h3>Serviço 3</h3>
                    <p class="text-muted">Vamos falar dos seus principais serviços</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-lock-open text-primary"></i>
                    <h3>Serviço 4</h3>
                    <p class="text-muted">Vamos falar dos seus principais serviços</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>Após se apresentar !.<br>+ opções de contato</h2>
          <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Nos conheça nas redes sociais</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>Queremos
          <i class="fas fa-heart"></i>
          novos amigos!</h2>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item social-google-plus">
            <a href="#">
              <i class="fab fa-google-plus-g"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy;Seu site 2018. Todos os direitos reservados.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

<router-outlet></router-outlet>
